---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhatIDo from '../components/WhatIDo.astro';
import WhoIAm from '../components/WhoIAm.astro';
import Locations from '../components/Locations.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <WhatIDo />
    <WhoIAm />
    <Locations />
    <Contact />
  </main>
  <Footer />
</Layout>
